* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v126_233 {
  width: 100%;
  height: 4423px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v126_234 {
  width: 100%;
  height: 830px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v126_235 {
  width: 100%;
  height: 156px;
  background: url("../images/v126_235.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 30px;
  margin: 324px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v126_236 {
  width: 246px;
  height: 101px;
  background: url("../images/v126_236.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 70px;
  overflow: hidden;
}
.v126_395 {
  width: 206px;
  height: 101px;
  background: url("../images/v126_395.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 20px;
  overflow: hidden;
}
.v126_396 {
  width: 206px;
  height: 101px;
  background: url("../images/v126_396.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v126_240 {
  width: 580px;
  height: 48px;
  background: url("../images/v126_240.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 77px;
  opacity: 1;
  position: absolute;
  top: 53px;
  left: 820px;
  overflow: hidden;
}
.v126_241 {
  width: 580px;
  height: 48px;
  background: url("../images/v126_241.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 94px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v126_242 {
  width: 71px;
  height: 48px;
  background: url("../images/v126_242.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v126_243 {
  width: 51px;
  color: rgba(250,74,12,1);
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v126_244 {
  width: 88px;
  height: 48px;
  background: url("../images/v126_244.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 165px;
  overflow: hidden;
}
.v126_245 {
  width: 68px;
  color: rgba(37,43,66,1);
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v126_246 {
  width: 52px;
  height: 48px;
  background: url("../images/v126_246.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 347px;
  overflow: hidden;
}
.v126_247 {
  width: 32px;
  color: rgba(37,43,66,1);
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v126_248 {
  width: 87px;
  height: 48px;
  background: url("../images/v126_248.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 493px;
  overflow: hidden;
}
.v126_249 {
  width: 67px;
  color: rgba(37,43,66,1);
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v126_257 {
  width: 100%;
  height: 674px;
  background: url("../images/v126_257.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 120px 0px;
  margin: 40px;
  opacity: 1;
  position: absolute;
  top: 156px;
  left: 0px;
  overflow: hidden;
}
.v272_0 {
  width: 100%;
  height: 619px;
  background: url("../images/v272_0.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v126_258 {
  width: 100%;
  height: 326px;
  background: url("../images/v126_258.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 7px;
  opacity: 1;
  position: absolute;
  top: 72px;
  left: 218px;
  overflow: hidden;
}
.v126_259 {
  width: 119px;
  color: rgba(246,246,246,1);
  position: absolute;
  top: 0px;
  left: 443px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v126_260 {
  width: 100%;
  height: 180px;
  background: url("../images/v126_260.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 0px;
  overflow: hidden;
}
.v126_261 {
  width: 937px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 10px;
  left: 34px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 58px;
  opacity: 1;
  text-align: center;
}
.v126_262 {
  width: 728px;
  height: 96px;
  background: url("../images/v126_262.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 230px;
  left: 139px;
  overflow: hidden;
}
.v126_263 {
  width: 551px;
  color: rgba(246,246,246,1);
  position: absolute;
  top: 10px;
  left: 89px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v126_264 {
  width: 236px;
  height: 68px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 404px;
  left: 791px;
  overflow: hidden;
}
.v126_265 {
  width: 236px;
  height: 68px;
  background: url("../images/v126_265.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 16px 0px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v126_266 {
  width: 119px;
  height: 36px;
  background: url("../images/v126_266.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 59px;
  overflow: hidden;
}
.v126_267 {
  width: 123px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v126_400 {
  width: 236px;
  height: 68px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 404px;
  left: 521px;
  overflow: hidden;
}
.v126_401 {
  width: 236px;
  height: 68px;
  background: rgba(250,74,12,1);
  padding: 16px 0px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0px 10px 30px rgba(0.7166666388511658, 0.19668081402778625, 0.1522916555404663, 0.20000000298023224);
  overflow: hidden;
}
.v126_402 {
  width: 119px;
  height: 36px;
  background: url("../images/v126_402.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 59px;
  overflow: hidden;
}
.v126_403 {
  width: 119px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v264_2 {
  width: 548px;
  height: 640px;
  background: url("../images/v264_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 610px;
  left: 446px;
  overflow: hidden;
}
.v126_399 {
  width: 285px;
  height: 531px;
  background: url("../images/v126_399.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 109px;
  left: 263px;
  overflow: hidden;
}
.v126_398 {
  width: 299px;
  height: 586px;
  background: url("../images/v126_398.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 50px 30px 150px rgba(0.17916665971279144, 0.014930546283721924, 0.014930546283721924, 0.20999999344348907);
  overflow: hidden;
}
.name {
  color: #fff;
}
.v126_296 {
  width: 100%;
  height: 806px;
  background: rgba(255,255,255,1);
  padding: 150px 82px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 1546px;
  left: 0px;
  overflow: hidden;
}
.v126_297 {
  width: 100%;
  height: 506px;
  background: url("../images/v126_297.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 60px;
  opacity: 1;
  position: absolute;
  top: 150px;
  left: 282px;
  overflow: hidden;
}
.v126_306 {
  width: 568px;
  height: 280px;
  background: url("../images/v126_306.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 70px;
  opacity: 1;
  position: absolute;
  top: 83px;
  left: 1001px;
  overflow: hidden;
}
.v126_307 {
  width: 568px;
  height: 280px;
  background: url("../images/v126_307.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 7px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v126_308 {
  width: 232px;
  height: 36px;
  background: url("../images/v126_308.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v126_309 {
  width: 232px;
  color: rgba(250,74,12,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v126_310 {
  width: 561px;
  height: 134px;
  background: url("../images/v126_310.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 0px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 0px;
  overflow: hidden;
}
.v126_311 {
  width: 561px;
  color: rgba(37,43,66,1);
  position: absolute;
  top: 10px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v126_312 {
  width: 467px;
  height: 96px;
  background: url("../images/v126_312.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 0px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 184px;
  left: 0px;
  overflow: hidden;
}
.v126_313 {
  width: 467px;
  color: rgba(114,114,114,1);
  position: absolute;
  top: 10px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v127_1 {
  width: 302px;
  height: 525px;
  background: url("../images/v127_1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 78px;
  left: 245px;
  box-shadow: 50px 30px 150px rgba(0.17916665971279144, 0.014930546283721924, 0.014930546283721924, 0.15000000596046448);
  overflow: hidden;
}
.v127_16 {
  width: 100%;
  height: 806px;
  background: rgba(255,255,255,1);
  padding: 150px 82px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 2935px;
  left: 0px;
  overflow: hidden;
}
.v127_17 {
  width: 100%;
  height: 506px;
  background: url("../images/v127_17.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 60px;
  opacity: 1;
  position: absolute;
  top: 150px;
  left: 283px;
  overflow: hidden;
}
.v127_18 {
  width: 568px;
  height: 280px;
  background: url("../images/v127_18.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 70px;
  opacity: 1;
  position: absolute;
  top: 83px;
  left: 1000px;
  overflow: hidden;
}
.v127_19 {
  width: 568px;
  height: 280px;
  background: url("../images/v127_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 7px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v127_20 {
  width: 123px;
  height: 36px;
  background: url("../images/v127_20.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v127_21 {
  width: 123px;
  color: rgba(250,74,12,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v127_22 {
  width: 559px;
  height: 134px;
  background: url("../images/v127_22.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 0px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 0px;
  overflow: hidden;
}
.v127_23 {
  width: 559px;
  color: rgba(37,43,66,1);
  position: absolute;
  top: 10px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v127_24 {
  width: 460px;
  height: 96px;
  background: url("../images/v127_24.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 0px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 184px;
  left: 0px;
  overflow: hidden;
}
.v127_25 {
  width: 460px;
  color: rgba(114,114,114,1);
  position: absolute;
  top: 10px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v127_26 {
  width: 278px;
  height: 511px;
  background: url("../images/v127_26.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 81px;
  left: 245px;
  box-shadow: 50px 30px 150px rgba(0.17916665971279144, 0.014930546283721924, 0.014930546283721924, 0.15000000596046448);
  overflow: hidden;
}
.v127_3 {
  width: 100%;
  height: 806px;
  background: rgba(255,255,255,1);
  padding: 150px 82px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 2202px;
  left: 0px;
  overflow: hidden;
}
.v127_4 {
  width: 100%;
  height: 506px;
  background: url("../images/v127_4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 60px;
  opacity: 1;
  position: absolute;
  top: 150px;
  left: 283px;
  overflow: hidden;
}
.v127_5 {
  width: 568px;
  height: 280px;
  background: url("../images/v127_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 70px;
  opacity: 1;
  position: absolute;
  top: 88px;
  left: 536px;
  overflow: hidden;
}
.v127_6 {
  width: 568px;
  height: 280px;
  background: url("../images/v127_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 7px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v127_7 {
  width: 211px;
  height: 36px;
  background: url("../images/v127_7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v127_8 {
  width: 211px;
  color: rgba(250,74,12,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v127_9 {
  width: 480px;
  height: 134px;
  background: url("../images/v127_9.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 0px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 0px;
  overflow: hidden;
}
.v127_10 {
  width: 480px;
  color: rgba(37,43,66,1);
  position: absolute;
  top: 10px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v127_11 {
  width: 462px;
  height: 96px;
  background: url("../images/v127_11.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 0px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 184px;
  left: 0px;
  overflow: hidden;
}
.v127_12 {
  width: 462px;
  color: rgba(114,114,114,1);
  position: absolute;
  top: 10px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v127_13 {
  width: 269px;
  height: 525px;
  background: url("../images/v127_13.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 78px;
  left: 939px;
  box-shadow: 50px 30px 150px rgba(0.17916665971279144, 0.014930546283721924, 0.014930546283721924, 0.15000000596046448);
  overflow: hidden;
}
.v126_368 {
  width: 100%;
  height: 509px;
  background: rgba(37,43,66,1);
  padding: 130px 0px;
  margin: 50px;
  opacity: 1;
  position: absolute;
  top: 3689px;
  left: 0px;
  overflow: hidden;
}
.v127_43 {
  width: 100%;
  height: 516px;
  background: url("../images/v127_43.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  overflow: hidden;
}
.v126_369 {
  width: 860px;
  height: 135px;
  background: url("../images/v126_369.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 130px;
  left: 290px;
  overflow: hidden;
}
.v126_370 {
  width: 523px;
  height: 77px;
  background: url("../images/v126_370.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 168px;
  overflow: hidden;
}
.v126_371 {
  width: 503px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v126_372 {
  width: 860px;
  height: 58px;
  background: url("../images/v126_372.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 77px;
  left: 0px;
  overflow: hidden;
}
.v126_373 {
  width: 840px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v126_374 {
  width: 331px;
  height: 64px;
  background: url("../images/v126_374.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 2px;
  opacity: 1;
  position: absolute;
  top: 315px;
  left: 554px;
  overflow: hidden;
}
.v126_375 {
  width: 331px;
  height: 64px;
  background: url("../images/v126_375.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v126_376 {
  width: 142px;
  height: 64px;
  background: rgba(250,74,12,1);
  padding: 18px 31px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v126_377 {
  width: 80px;
  height: 28px;
  background: url("../images/v126_377.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 31px;
  overflow: hidden;
}
.v126_378 {
  width: 80px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v126_379 {
  width: 173px;
  height: 60px;
  background: url("../images/v126_379.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 16px 45px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 158px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v126_380 {
  width: 83px;
  height: 28px;
  background: url("../images/v126_380.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 45px;
  overflow: hidden;
}
.v126_381 {
  width: 83px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v126_382 {
  width: 100%;
  height: 133px;
  background: rgba(255,255,255,1);
  padding: 10px 30px;
  margin: 324px;
  opacity: 1;
  position: absolute;
  top: 4236px;
  left: 115px;
  overflow: hidden;
}
.v126_383 {
  width: 206px;
  height: 78px;
  background: url("../images/v126_383.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 91px;
  overflow: hidden;
}
.v127_42 {
  width: 246px;
  height: 102px;
  background: url("../images/v127_42.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 21px;
  overflow: hidden;
}
.v126_386 {
  width: 210px;
  height: 18px;
  background: url("../images/v126_386.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 965px;
  overflow: hidden;
}
.v126_387 {
  width: 190px;
  color: rgba(92,92,92,1);
  position: absolute;
  top: 0px;
  left: 10px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: right;
}
.v126_388 {
  width: 170px;
  height: 40px;
  background: url("../images/v126_388.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 46px;
  left: 520px;
  overflow: hidden;
}
.v126_389 {
  width: 40px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v126_390 {
  width: 33px;
  height: 27px;
  background: rgba(250,74,12,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 3px;
}
.v126_391 {
  width: 40px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 64px;
  overflow: hidden;
}
.v126_392 {
  width: 32px;
  height: 32px;
  background: rgba(250,74,12,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 4px;
}
.v126_393 {
  width: 40px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 129px;
  overflow: hidden;
}
.v127_44 {
  width: 39px;
  height: 39px;
  background: rgba(250,74,12,1);
  opacity: 1;
  position: absolute;
  top: 47px;
  left: 650px;
  overflow: hidden;
}
.v127_45 {
  width: 32px;
  height: 32px;
  background: rgba(250,74,12,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 3px;
}
.v127_46 {
  width: 13px;
  height: 13px;
  background: url("../images/v127_46.png");
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 13px;
  border: 2px solid rgba(255,255,255,1);
}
.v127_47 {
  width: 0px;
  background: url("../images/v127_47.png");
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 28px;
  border: 2px solid rgba(255,255,255,1);
}
.v127_0 {
  width: 425px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1451px;
  left: 495px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 44px;
  opacity: 0.800000011920929;
  text-align: left;
}
