{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% crispy form form.helper %}

{% block content %}

<style type="text/css">
    .email_validation {
        transition: all 0.5s cubic-bezier(.83, -0.43, .21, 1.42);
    }

    .valid_email {
        opacity: 0;
        top: calc(23.8% + 8em);
        margin-top: 0;
        height: 0;
        visibility: hidden;
    }

    .invalid_email {
        opacity: 1;
        margin-top: 4px;
        height: 10px;
        top: calc(23.8% + 6em);
    }
</style>

<div class="container mt-3">
    <div class="row">
        <div class="col">

            <div class="container-fluid">
                <div class="d-flex flex-row justify-content-center flex-wrap align-items-start">
                    <div class="col-md-4 text-center">

                        <h1>Sign up</h1>
                        <br>
                        <form id="signupForm" method="POST" name="signup">
                            {% csrf_token %}
                            {% crispy form %}
                        </form>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block extrascripts %}
<script type="text/javascript">

    // Email validation handler
    $(document).ready(function () {
        var email_id =  $('#id_email')
        var signup_button = $("#signup")
        email_id.after('<div class="invalid-feedback email_validation d-block valid_email" ' +
            'id="emailError">This Email is not valid!</div>');
        var email_error = $('#emailError')
        // catch the form's submit event
        email_id.keyup(function () {
            // create an AJAX call
            $.ajax({
                data: $(this).serialize(), // get the form data
                url: "{% url 'user:validate_email' %}",
                // on success
                success: function (response) {
                    if (response.is_taken == true) {
                        signup_button.prop("disabled", true);
                        email_id.removeClass('is-valid').addClass('is-invalid');
                        email_error.text(response.message);
                        email_error.removeClass("valid_email").addClass("invalid_email");
                    } else {
                        signup_button.removeAttr("disabled");
                        email_id.removeClass('is-invalid').addClass('is-valid');
                        email_error.removeClass("invalid_email").addClass("valid_email");
                    }
                },
                // on error
                error: function (response) {
                    // alert the error if any error occurred
                    console.log("Something went wrong: " + response)
                }
            });
            return false;
        });
    })


</script>
{% endblock extrascripts %}