{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}

<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                    <h1 class="display-4">Upload your file</h1>
                </div>

                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <input type="submit" class="btn btn-outline-primary" value="Upload">
                    <input type="button" onclick="window.location.href='{% url 'fileup:my_files_list' %}'" class="btn btn-outline-dark"
                           value="Back">
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}
