{% load static %}

<!-- Header -->
<header>
    <!-- Messages -->
    <div class="alert-m">
        {% if messages %}
            {% for message in messages %}
                <div {% if message.tags %}
                    class="alert alert-{{ message.tags }}
                 alert-dismissible fade show mb-0" role="alert"
                {% endif %}>
                    <b style="text-transform:capitalize;">
                        {% if message.tags == "success" %}
                            <i class="far fa-thumbs-up faa-vertical animated faa-slow"></i>
                        {% elif message.tags == "warning" %}
                            <i class="fas fa-exclamation-circle faa-flash animated faa-fast"></i>
                        {% elif message.tags == "danger" %}
                            <i class="fas fa-times-circle faa-horizontal animated faa-fast"></i>
                        {% else %}
                            <i class="fas fa-info-circle faa-tada animated faa-fast"></i>
                        {% endif %}
                        {{ message.tags }}!
                    </b> {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <!-- End Messages -->
    <!-- Navbar -->
    <!-- Important: columns can be used directly in navbar since it is d-flex -->
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark" role="navigation"
         id="navbar">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">FileShare</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarMy" aria-controls="navbarMy"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarMy" class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item" style="padding-right: 10px">
                        <form class="d-flex">
                            <input class="form-control me-2" type="search"
                                   placeholder="Search" aria-label="Search"
                                   id="search_user" name="search_user">
                            <button class="btn btn-outline-light" type="submit" onclick="return searchQuery()">Search</button>
                        </form>
                    </li>
                    <li class="nav-item dropdown">
                        <b class="user-image rounded-circle" data-bs-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false" role="button"
                           style="color: white">{{ request.user.name }}</b>
                        <img class="user-image rounded-circle" id="profile_link"
                                             data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button"
                                             src="{{ request.user.profile_image_thumb.url }}" alt="fileshare logo" width="40" height="40">
                        <ul class="dropdown-menu nd-menu" aria-labelledby="profile_link">
                            <li><a class="dropdown-item" href="{% url 'user:account' user_id=request.user.id %}"> Account</a></li>
                            {% if request.user.is_superuser %}
                                <li><a class="dropdown-item" href="{% url 'fileup:adminpage' %}"> Admin</a></li>
                            {% else %}
                                <li><a class="dropdown-item" href="{% url 'fileup:filelist' user_id=request.user.id %}"> My Files </a></li>
                                <li><a class="dropdown-item" href="{% url 'fileup:shared' %}"> Shared with me</a></li>
                            {% endif %}
                            <li><a class="dropdown-item" href="{% url 'user:logout' %}"> Logout</a></li>
                        </ul>
                    </li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'user:login' %}"> Login </a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'user:signup' %}"> Sign up </a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->
</header>
<!-- End Header -->

<script type="text/javascript">
    function searchQuery(){
        var query = document.getElementById('search_user').value;
        window.location.replace("{% url 'user:search_user' %}?q=" + query);
        return false
    }
</script>