{% load static %}

<!-- Header -->
<header>
    <!-- Messages -->
    <div class="alert-m">
        {% if messages %}
            {% for message in messages %}
                <div {% if message.tags %}
                    class="alert alert-{{ message.tags }}
                 alert-dismissible fade show mb-0" role="alert"
                {% endif %}>
                    <b style="text-transform:capitalize;">
                        {% if message.tags == "success" %}
                            <i class="far fa-thumbs-up faa-vertical animated faa-slow"></i>
                        {% elif message.tags == "warning" %}
                            <i class="fas fa-exclamation-circle faa-flash animated faa-fast"></i>
                        {% elif message.tags == "danger" %}
                            <i class="fas fa-times-circle faa-horizontal animated faa-fast"></i>
                        {% else %}
                            <i class="fas fa-info-circle faa-tada animated faa-fast"></i>
                        {% endif %}
                        {{ message.tags }}!
                    </b> {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <!-- End Messages -->
    <!-- Navbar -->
    <!-- Important: columns can be used directly in navbar since it is d-flex -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" role="navigation"
         id="navbar">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">FileShare</a>
            {% if user.is_authenticated %}
                <b style="color: white">{{ request.user.name }}</b>
            {% endif %}
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarMy" aria-controls="navbarMy"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarMy" class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto">
                    {% if user.is_authenticated %}
                        {% if request.user.is_superuser %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'fileup:adminpage' %}"> Admin</a>
                            </li>
                        {% else %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'fileup:list' %}"> My Files </a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'fileup:shared' %}"> Shared with me</a></li>
                        {% endif %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'user:logout' %}"> Logout </a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'user:login' %}"> Login </a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'user:signup' %}"> Sign up </a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->
</header>
<!-- End Header -->