{% extends 'base.html' %}
{% block content %}

<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                    <h1 class="display-4">Welcome to File Share App</h1>
                </div>

                <div class="display-6 text-center">
                    {% if request.user.is_authenticated %}
                    <h3>User: {{ request.user.name }}</h3>
                    {% else %}
                    <h3>You must login to see your files and shared with you ones</h3>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>
</section>

{% endblock %}