{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% crispy form form.helper %}

{% block content %}
<div class="container">
    <h1>Sign up</h1>
    <form id="signupForm" method="POST" name="signup">
        {% csrf_token %}
        {% crispy form %}
    </form>
</div>
{% endblock %}

{% block extrascripts %}
<script type="text/javascript">

    // Username validation handler
    $(document).ready(function () {
        // catch the form's submit event
        $('#id_email').keyup(function () {
            // create an AJAX call
            $.ajax({
                data: $(this).serialize(), // get the form data
                url: "{% url 'user:validate_username' %}",
                // on success
                success: function (response) {
                    if (response.is_taken == true) {
                        $("#signup").prop("disabled", true);
                        $('#id_email').removeClass('is-valid').addClass('is-invalid');
                        $('#Id_email').after('<div class="invalid-feedback d-block" id="usernameError">This username is not available!</div>')
                    } else {
                        $("#signup").removeAttr("disabled");
                        $('#id_email').removeClass('is-invalid').addClass('is-valid');
                        $('#usernameError').remove();

                    }

                },
                // on error
                error: function (response) {
                    // alert the error if any error occured
                    console.log(response.responseJSON.errors)
                }
            });

            return false;
        });
    })


</script>
{% endblock extrascripts %}