{% extends "base.html" %}
{% load guardian_tags %}
{% load custom_tags  %}
{% block content %}


<div>
    <div class="container-fluid" style="max-width:1200px">
        <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">{{object.title}}</h1>
            <div class="align-items-center">
                <div class="d-inline-flex  align-items-center">
                    <ul class="list-group">
                        <li class="list-group-item">File title</li>
                        <li class="list-group-item">File uploader</li>
                        <li class="list-group-item">File uploaded at</li>
                        <li class="list-group-item">File size</li>
                        <li class="list-group-item">File type</li>
                    </ul>
                    <div class="list-group">
                        <a class="list-group-item list-group-item-action">{{object.title}}</a>
                        <a class="list-group-item list-group-item-action">{{object.uploaded_by}}</a>
                        <a class="list-group-item list-group-item-action">{{object.uploaded_at}}</a>
                        <a class="list-group-item list-group-item-action">{{object.browse_file.size|sizify}}</a>
                        <a class="list-group-item list-group-item-action"><span
                                class="fiv-cla fiv-icon-{{object.extension}}"></span></a>
                    </div>
                    <div class="list-group">
                        <small class="text-muted">
                            <button class="btn btn-outline-primary fas fa-download" type="button"
                                    onclick="location.href='{{ object.browse_file.url }}'">
                            </button>
                        </small>
                        {% if object.uploaded_by == request.user %}
                        <small class="text-muted">
                            <button id="dlt-button"
                                    class="btn btn-outline-danger fas fa-trash" type="button">
                            </button>
                        </small>
                        <div class="btn-group">
                            <button class="btn btn-outline-info fas fa-share" type="button"
                                    id="dropdownMenuClickable"
                                    data-bs-toggle="dropdown"
                                    data-bs-auto-close="outside"
                                    data-toggle="dropdown"
                                    aria-expanded="false">
                            </button>
                            <form method="POST"
                                  action="{% url 'users:share' id=object.id %}">
                                {% csrf_token %}

                                <ul class="dropdown-menu checkbox-menu allow-focus dd-menu"
                                    aria-labelledby="dropdownMenuClickable">
                                    {% if object.users_to_share|length > 0 %}

                                    {% for x in object.users_to_share %}

                                    <li class="list-group-item lgi-menu">

                                        <input class="form-check-input me-1"
                                               type="checkbox" id="email" name="email"
                                               value="{{x}}">{{x}}
                                    </li>

                                    {% endfor %}

                                    <li style="display: none;">
                                        <label for="permission"></label>
                                        <input id="permission" name="permission" value="view_userfiles"/>view_userfiles
                                    </li>

                                    <li class="list-group-item lgi-menu share-btn">
                                        <button class="btn btn-outline-light"
                                                aria-hidden="true">Share
                                        </button>
                                    </li>

                                    {% else %}
                                    <li class="list-group-item lgi-menu">You have already shared this file with
                                        all
                                        users

                                    </li>
                                    {% endif %}

                                </ul>
                            </form>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>

        <p/>
        <div class="alert alert-warning align-items-center" role="alert" style="text-align: center">
            Description
        </div>

        <p style="text-align: center">{{object.description}}</p>

        <div>

            <table class="table table-dark table-hover">
                {% if object.users_with_perms|length > 0 %}
                <thead>
                <tr>
                    <th scope="col">User Name</th>
                    <th scope="col">User email</th>
                    <th scope="col">Revoke</th>
                </tr>
                </thead>

                {% for x in object.users_with_perms %}
                <form method="POST"
                      action="{% url 'users:revoke' id=object.id %}">
                    {% csrf_token %}
                    <tbody>
                    <tr>
                        <td>{{x.name}}
                            <div style="display: none;">
                                <label for="permission"></label>
                                <select id="permission" name="permission">
                                    <option>view_userfiles</option>
                                </select>
                            </div>
                        </td>
                        <td>{{x.email}}
                            <div style="display: none;">
                                <label for="email"></label>
                                <select id="email" name="email">
                                    <option>{{x.email}}</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-outline-danger fas fa-user-minus"
                                    aria-hidden="true"></button>
                        </td>


                    </tr>
                    </tbody>
                </form>
                {% endfor %}
                {% else %}
                <thead>
                <tr>
                    <th style="text-align: center">You have not shared this file with anyone yet</th>
                </tr>
                </thead>
                {% endif %}
            </table>

        </div>
    </div>

    <div class="dlt-modal">
        <div>
            <h5 class="modal-text">Are you sure you want to delete {{files.title}} ?</h5>
        </div>
        <div>
            <form method="POST" action="{% url 'users:delete' pk=object.pk %}">
                {% csrf_token %}
                <button type="submit" value="Confirm" class="btn btn-outline-danger" style="width: 97px;">Confirm
                </button>
            </form>
        </div>
        <div>
            <button class="btn btn-outline-light btn-large dlt-close" style="width: 97px">Cancel</button>
        </div>

    </div>


</div>

{% endblock %}
