{% extends 'base.html' %}
{% load guardian_tags %}
{% block content %}
<div class="container">
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">My files</h1>
        <b>{{ request.user.name }}</b>
    </div>
    {% if request.user.is_authenticated %}
    <div class="py-5">
        <div class="row">
            {% for object in files %}
            {% if object.uploaded_by == request.user %}
            <div class="col-md-4">
                <a class="text-dark" href="{{object.get_absolute_url}}">
                    <div class="card md-4 box-shadow">
                        <div class="card-body">
                            <h2 style="font-size:18px;font-weight:bold;min-height:42px;">
                                {{object.title|truncatechars:50}}</h2>
                            <h2 style="font-size:14px;font-weight:lighter;min-height:42px;">
                                {{object.uploaded_by.email|truncatechars:50}}</h2>
                            <div class="d-inline-flex justify-content-between align-items-center">
                                <small class="text-muted">
                                    <a href="{{ object.browse_file.url }}" class="btn btn-outline-primary"
                                       target="_blank">
                                        <span class="fas fa-download" aria-hidden="true"></span>
                                    </a>
                                </small>

                                <small class="text-muted">
                                    <a href="{% url 'users:delete' slug=object.slug %}" class="btn btn-outline-danger"
                                       target="_blank">
                                        <span class="fas fa-trash" aria-hidden="true"></span>
                                        <span class=""></span>
                                    </a>
                                </small>
                                <div class="btn-group">
                                    <button class="btn btn-outline-info fas fa-share" type="button"
                                            id="dropdownMenuClickable"
                                            data-bs-toggle="dropdown"
                                            data-bs-auto-close="outside"
                                            data-toggle="dropdown"
                                            aria-expanded="false">
                                    </button>
                                    <form method="POST"
                                          action="{% url 'users:share' id=object.id %}">
                                        {% csrf_token %}

                                        <ul class="dropdown-menu checkbox-menu allow-focus dd-menu"
                                            aria-labelledby="dropdownMenuClickable">


                                            {% for user in users %}
                                            {% get_obj_perms user for object as 'userfiles_perms' %}
                                            {% if not "view_userfiles" in userfiles_perms %}
                                            <li class="list-group-item lgi-menu">

                                                <input class="form-check-input me-1"
                                                       type="checkbox" id="email" name="email"
                                                       value="{{user.email|truncatechars:50}}">
                                                {{user.email|truncatechars:50}}
                                            </li>
                                            {% elif forloop.counter < 2 %}
                                            <li class="list-group-item lgi-menu">You have already shared this file with
                                                all
                                                users
                                            </li>
                                            {% endif %}
                                            {% endfor %}

                                            <li style="display: none;">
                                                <label for="permission"></label>
                                                <input id="permission" name="permission" value="view_userfiles"/>view_userfiles
                                            </li>

                                            <li class="list-group-item lgi-menu share-btn">
                                                <button class="btn btn-outline-light"
                                                        aria-hidden="true">Share
                                                </button>
                                            </li>

                                        </ul>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}