{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% crispy form form.helper %}

{% block content %}

<div class="container mt-3">
    <div class="row">
        <div class="col">

            <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                <h1 class="display-4">Edit profile</h1>
            </div>

            <div class="container-fluid">
                <div class="d-flex flex-row justify-content-center flex-wrap align-items-center">

                    <div class="col-md-8">
                        <div class="card bg-dark">
                            <div class="card-header">
                                <h5 class="card-title text-white">Password Change Form</h5>
                            </div>
                            <div class="card-body mx-auto col-md-10">
                                <form class="form-password-change text-center mt-3" method="post" name="password_change">
                                    {% csrf_token %}
                                    {% crispy form %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}