<!DOCTYPE html>
{% load static %}
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static './css/main.css' %}"/>
    <title>FS</title></head>
<body>
<div class="v126_233">
    <div class="v126_234">
        <div class="v126_235">
            <div class="v126_236">
                <div class="v126_395">
                    <div class="v126_396"></div>
                </div>
            </div>
            <div class="v126_240">
                <div class="v126_241">
                    <div class="v126_242"  href="{% url 'users:file_upload' %} > <span class="v126_243">Home</span></div>
                    <div class="v126_244"><span class="v126_245">Product</span></div>
                    <div class="v126_246"><span class="v126_247">Faq</span></div>
                    <div class="v126_248"><span class="v126_249">Contact</span></div>
                </div>
            </div>
        </div>
        <div class="v126_257">
            <div class="v272_0"></div>
            <div class="v126_258"><span class="v126_259">Food app</span>
                <div class="v126_260"><span class="v126_261">Why stay hungry when
you can order form Bella Onojie</span></div>
                <div class="v126_262"><span class="v126_263">Download the bella onoje’s food app now on</span></div>
            </div>
            <div class="v126_264">
                <div class="v126_265">
                    <div class="v126_266"><span class="v126_267">App store</span></div>
                </div>
            </div>
            <div class="v126_400">
                <div class="v126_401">
                    <div class="v126_402"><span class="v126_403">Playstore</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="v264_2">
        <div class="v126_399"></div>
        <div class="v126_398"></div>
    </div>
    <div class="name"></div>
    <div class="v126_296">
        <div class="v126_297">
            <div class="v126_306">
                <div class="v126_307">
                    <div class="v126_308"><span class="v126_309">Create an account</span></div>
                    <div class="v126_310"><span class="v126_311">Create/login to an existing
account to get started</span></div>
                    <div class="v126_312"><span class="v126_313">An account is created with your email
and a desired password</span></div>
                </div>
            </div>
        </div>
        <div class="v127_1"></div>
    </div>
    <div class="v127_16">
        <div class="v127_17">
            <div class="v127_18">
                <div class="v127_19">
                    <div class="v127_20"><span class="v127_21">Checkout</span></div>
                    <div class="v127_22"><span class="v127_23">When you done check out
and get it delivered.</span></div>
                    <div class="v127_24"><span class="v127_25">When you done check out and get it
delivered with ease.</span></div>
                </div>
            </div>
        </div>
        <div class="v127_26"></div>
    </div>
    <div class="v127_3">
        <div class="v127_4">
            <div class="v127_5">
                <div class="v127_6">
                    <div class="v127_7"><span class="v127_8">Explore varieties</span></div>
                    <div class="v127_9"><span class="v127_10">Shop for your favorites
meal as e dey hot.</span></div>
                    <div class="v127_11"><span class="v127_12">Shop for your favorite meals or drinks
and enjoy while doing it.</span></div>
                </div>
            </div>
        </div>
        <div class="v127_13"></div>
    </div>
    <div class="v126_368">
        <div class="v127_43"></div>
        <div class="v126_369">
            <div class="v126_370"><span class="v126_371">Download the app now.</span></div>
            <div class="v126_372"><span class="v126_373">Available on your favorite store. Start your premium experience now</span>
            </div>
        </div>
        <div class="v126_374">
            <div class="v126_375">
                <div class="v126_376">
                    <div class="v126_377"><span class="v126_378">Playstore</span></div>
                </div>
                <div class="v126_379">
                    <div class="v126_380"><span class="v126_381">App store</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="v126_382">
        <div class="v126_383">
            <div class="v127_42"></div>
        </div>
        <div class="v126_386"><span class="v126_387">Copywright 2020 Bella Onojie.com</span></div>
        <div class="v126_388">
            <div class="v126_389">
                <div class="v126_390"></div>
            </div>
            <div class="v126_391">
                <div class="v126_392"></div>
            </div>
            <div class="v126_393"></div>
        </div>
        <div class="v127_44">
            <div class="v127_45"></div>
            <div class="v127_46"></div>
            <div class="v127_47"></div>
        </div>
    </div>
    <span class="v127_0">How the app works</span></div>
</body>
</html>